html {
    background-color: lightskyblue;
}

div {
    background:white;
    width: 1200px;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    border-radius: 10px;
    flex-wrap: wrap;
}

#verde {
    background-color: green;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

#amarelo {
    background-color: yellow;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    rotate: 45deg;
    position: relative;
    bottom: 560px;
    right: -260px;
    cursor: pointer;
    animation: gire 6s linear infinite;

}

#azul {
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: relative;
    bottom: 460px;
    right: 340px;
    cursor: pointer;
}


@keyframes gire {
    0% {
        rotate: 0;
            }
    100% {
        rotate: 360deg;
    }
}