#topo {
    width: 100%px;
    height: 50px;
    background-color: rgb(81, 165, 255);
    margin: 5px;
    border-radius: 20px;
}

#girl {
    height: 350px;
    position: absolute;
    margin: 5px;
    top: 300px;
    left: 0;
    animation: ande 10s infinite;
}

#cenario {
    width: 100%;
    height: 650px;
    background-image: url(/img/florestaescura.jpg);
    background-size: contain;
    overflow: hidden; 
    /*border-radius: 30px;*/
}
@keyframes ande {
    0% {
        top: 300px;
        left: 0;
        }
    100% {
        top: 300px;
        left: 100%; /*distancia*/
        }
}

@keyframes cenario {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -100000px;
    }
}