html {
    background-color: lightsteelblue;
}

input [type="text"] {
    background: red;
}

div {
    height: auto;
    width: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    display: block;
}

h2 {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 30px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 30%;
    display: block;
}

.dollynho {
    border-radius: 20%;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    display: block;
}

label {
    width: 500px;
    height: auto;
    align-items: center;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

button {
    align-items: left;
    padding: 5px;
    margin: 20px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 20%;
}