html, body {
 /* 18 */
 margin: 0;
 padding: 0;
}

#topo {
    width: 100%;
    height: 50px;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    font-size: 80px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

#topo a {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

#topo a:hover {
    color: gold;
    border-bottom: 4px solid gold;
    text-shadow: 1px, 1px, 2px orange;
}

.conteudo {
    width: 100%;
    height: 100vh;
    background-size: cover; /* tamanho */
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    text-shadow: 2px 2px 4px black;
    color: white; 
}

#div1 {
    background-image: url("../img/mj-01.jpg");
}

#div2 {
    background-image: url("../img/mj-02.jfif");
}

#div3 {
    background-image: url("../img/mj-03.jpg");
}

#div4 {
    background-image: url("../img/mj-04.jpg");
}

#div5 {
    background-image: url("../img/dangerous.jpg");
}
